NODE_ENV = "Environment mode (development, production, test)"
PORT = "Port for the Next.js web server"
HOSTNAME = "Host for the Next.js server (for Docker use 0.0.0.0)"
NEXT_PUBLIC_API_URL = "API server base URL"
CHOKIDAR_USEPOLLING = "Enable polling file watcher in Docker dev mode (true/false)"
WATCHPACK_POLLING = "Enable webpack polling watcher in Docker dev mode (true/false)"
