NODE_ENV="Environment mode (development, production, test)"

APP_PORT="Port for the Express.js web server"

CSV_IMPORT_BATCH_SIZE="Batch size in rows"
CSV_IMPORT_BATCH_TIMEOUT="Batch processing timeout"

DB_HOST="Database host"
DB_PORT="Database port"
DB_DIALECT="Database dialect"
DB_SSL="Enable SSL for database connection (true/false)"

POSTGRES_USER="Postgres user"
POSTGRES_PASSWORD="Postgres password"
POSTGRES_DB="Postgres database name"

ADMINER_DEFAULT_SERVER="Default Adminer server name"
